@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&family=Poiret+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-roboto: 'Roboto', sans-serif;
    --font-lexend: 'Lexend', sans-serif;
    --font-poiret: 'Poiret One', cursive;
}